<router-outlet></router-outlet>
<hr />
<div class="row">
  <div class="col-5">
    <app-liste (candToCv)="recupererCandidat($event)"></app-liste>
  </div>
  <div class="col-7">
    @if(selectedCandidat) {
    <app-details [selCand]="selectedCandidat"></app-details>

    } @else {
    <h3>Aucun candidat selectionné</h3>
    }
  </div>
  <app-recruter></app-recruter>
</div>

<!-- 
<button (click)="addNewCandidat()" class="btn btn-primary">Add Candidat</button>
<button (click)="showCandidats()" class="btn btn-danger">
  show Candidats From CV
</button> -->
